.c-header {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 64px;
}

@media screen and (max-width: 600px) {
  .c-header {
    margin-top: 16px;
    margin-bottom: 32px;
  }
}
