.u-container {
  max-width: 1440px;
  width: 100%;
  padding: 0 165px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .u-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 600px) {
  .u-container {
    padding: 0 16px;
  }
}
